{% load i18n %}

<div id="programming" class="tabContent">

	<p>{% blocktrans %}After painstakingly segmenting and tagging recordings for a linguistics study about six years back, I was left with an excel spreadsheet that had about 5,000 lines with thirty columns, which I now had to edit, <em>by hand</em>. I swore that this would never happen again, and began to learn how to program, first starting with the scripting language created for use with the speech analysis program, Praat. I loved it! Programming presents you with a million little problems to solve, which after a million curses eventually lead to a million little dopamine rushes. Since there is (and will always be) more to learn and more to create, I was hooked.{% endblocktrans %}</p>

	<h3>{% trans "Programming languages" %}</h3>

	<p>{% blocktrans %}{% endblocktrans %}</p>

	<p>{% blocktrans %}I don't know why, but I loved it! !{% endblocktrans %}</p>

	<p>{% blocktrans %}Though I had messed around with Objective-C and C++ in years past, those early attempts helped my find success for the first time with Python, and it together with the myriad of open-source command-line tools available on my ubuntu install helped me learn to automate repetitive tasks and learn more about how computers work. I love reading articles and books written by experts about the fundamentals of good program design, and try to always improve and learn something new every time I undertake a project, however large or small.{% endblocktrans %}</p>

	<p>After making some desktop apps using PyQt for my students and for experiments, I succumbed to the lure of the web's global availability, and decided to focus on making web applications. This meant learning JavaScript, SQL, HTML and CSS, in addition to learning about the DOM, HTTP, CSRF a whole lot more acronyms, and of course a backend framework. I installed ubuntu server on an old computer and began using Django to create web applications to collect data from participants in linguistic studies. My colleagues were happy too! There was suddenly a lot less grading to do.</p>

	<p></p>

	<p>{% blocktrans %}Hi! It seems I've invited you to the party early. This site will be more presentable by the end of the week. Check out <a href="https://github.com/dantheman39" target="_blank">my github page</a> for a similar view of sparseness. I have been programming a lot over the past 5 years or so, but use a private git server so it's going to take time to make my code more presentable.{% endblocktrans %}</p>

	<p>{% blocktrans %}Even though this site is not yet much to look at, I'm happy that it's all set up for i18n internationalization and and for unit testing, two areas I wanted to know more about, so there's that!{% endblocktrans %}</p>

</div>
