{% load i18n %}

<div id="programming" class="tabContent">

	<p>{% blocktrans %}After painstakingly segmenting and tagging recordings for a linguistics study about six years back, I was left with an excel spreadsheet that had about 5,000 lines with thirty columns, which I now had to edit, <em>by hand</em>. I swore that this would never happen again, and began to learn how to program, first starting with the scripting language created for use with the speech analysis program, Praat. While most of my colleagues generally hated dealing with the technical side of data collection and analysis, I loved it! Programming presents you with a million little problems to solve, which after a million curses eventually lead to a million little dopamine rushes. Since there is (and will always be) more to learn and more to create, I was hooked.{% endblocktrans %}</p> 

	<h3>To do's</h3>

	<p>Include a section on the type of job I'm looking for. (DC area, could work now in web programming, would be great if I could use my natural language and / or music skills, would love to learn more about audio programming)</p>

	<h3>{% trans "Can-do's and have-done's" %}</h3>

	<p>{% blocktrans %}Instead of writing an (even more) long-winded biography, I think it may make sense to use a simple list of statements that describe my programming experience.{% endblocktrans %}</p>

	<p>{% blocktrans %}Over the next few weeks, I will gradually be cleaning up some of the code from projects I've worked on and will post demos here and to <a href="https://github.com/dantheman39" target="_blank">my github page</a>. At time of writing it's still a little sparse, I've been using a personal git server for version tracking up to this point.{% endblocktrans %}</p>

	<ul class="dash-lis">
		<li>{% blocktrans %}I program regularly in Python, it's the language I've used the most and am most comfortable with.{% endblocktrans %}</li>

		<li>{% blocktrans %}I have written and maintain multiple websites and web apps with the Django framework.{% endblocktrans %}</li>

		<li>{% blocktrans %}Using and expanding on the amazing python library and application PsychoPy, I was able to create a complex Vocabulary Trainer application for data collection in my thesis research. The program displayed images, played and recorded audio, graded and provided visual feedback for user input, used internationalization, allowed users to draw with a mouse, and used an algorithm that would vary presentation order depending on users' responses.{% endblocktrans %}</li>

		<li>{% blocktrans %}I am comfortable using JavaScript, and am always uncomfortable with how much more I have to learn about using it wisely. It seems that many programmers use JavaScript only because they are forced to, and that they don't take much interest in learning it well. I take the language seriously and my goal is to learn the language well. Crockford's <em>JavaScript, the good parts</em> is a book that is leading me to more thoughtful exploration of JavaScript.{% endblocktrans %}</li>

 		<li>{% blocktrans %}I successfully built a complex website for a client using a language and framework I had previously had no experience with: A colleague and I were hired as linguistic consultants by Missouri State University to create a placement test for their Spanish program. Part of my job was to create a website for them to administer the test and manage results. The university uses all Microsoft services and their programmers were unfamiliar with Django, so in order to facilitate their maintenance of the app I learned C# and ASP.NET MVC.{% endblocktrans %}</li>

		<li>{% blocktrans %}I've built some small desktop applications using PyQt.{% endblocktrans %}</li>
		<li>{% blocktrans %}I built a home server, where I host most of my websites, and do some file, git and music serving.{% endblocktrans %}</li>

		<li>{% blocktrans %}Ubuntu is my daily driver, and I am very comfortable on a Mac. I've used Windows plently, but have a lot to learn about its guts.{% endblocktrans %}</li>

		<li>{% blocktrans %}Git is part of my regular workflow. I've been using my home server instead of GitHub,  but in the coming weeks I'll be cleaning up some more code and putting it on GitHub so it can be viewed by others.{% endblocktrans %}</li>
 
 		<li>{% blocktrans %}For data analysis and presentation, R and the fantastic ggplot2 package are my programs of choice.{% endblocktrans %}</li>
 
 		<li>{% blocktrans %}LaTeX made working on my thesis and other project write-ups simultaneously more fun and more infuriating.{% endblocktrans %}</li>

		<li>{% blocktrans %}I'm a big fan of the Vim editor and it's gestural approach to moving around a file.{% endblocktrans %}</li>
	</ul>

</div>
