{% load i18n %}
<div id="linguistics" class="tabContent">
	<p>
	{% blocktrans %}
I've always been fascinated by foreign languages, but never had the chance to really learn one, so after graduating from conservatory I decided to take my self-taught Spanish to the next level and moved to Guatemala to enroll in a Spanish immersion program, specifically at the <a href="plqe.org">Proyecto lingüístico quetzalteco de español</a>. It was a wonderful, life-changing experience, and I learned Spanish well enough in the 5 months I was there that I was able to pass an entrance exam into the Master of Spanish program at The City College of New York.
	{% endblocktrans %}
	</p>

	<p>
	{% blocktrans %}
While at CCNY I taught undergraduate Spanish classes as well as an introductory course in Latin American Literature. I also spent a summer in Brazil, fell in love with the language, the music and the people, and later began teaching Portuguese and Spanish in LaGuardia Community College. Since there's still a lot more fun to be had with Iberian languages, I also learned Catalan with the help of books and friends.
	{% endblocktrans %}
	</p>

	<p>
	{% blocktrans %}
After completing the Master's, I moved to Washington D.C. to begin a PhD program in Linguistics offered by the Spanish and Portuguese department. There I earned an MS in Spanish Linguistics, taught Spanish and Portuguese language classes, Spanish phonology, and published a couple of things (literally). My focus was on Phonology (the study of speech sounds and how our minds analyze speech sounds), Orthography (writing systems) and how these interact with Second Language Acquisition.
	{% endblocktrans %}
	</p>

	<h3>{% trans "Education" %}</h3>

		<ul>
			<li>{% trans "Candidate for PhD in Spanish and Portuguese Linguistics, Georgetown University, End date: May 2018" %}</li>
			<li>{% trans "MS in Spanish and Portuguese Linguistics, Georgetown University, May 2012" %}</li>
			<li>{% trans "MA in Spanish, The City College of New York, May 2009" %}</li>
		</ul>

	<h3>{% trans "Languages" %}</h3>

		<ul>
		{% blocktrans %}
			<li>English: native</li>
			<li>Portuguese: near-native</li>
			<li>Spanish: near-native</li>
			<li>Catalan: highly advanced</li>
			<li>Italian: rusty, was advanced</li>
			<li>French: rusty, was advanced</li>
			<li>Mandarin Chinese: rusty, was intermediate</li>
		{% endblocktrans %}
		</ul>

	<h3>{% trans "Teaching" %}</h3>

		<h4 class="indent1">Georgetown University</h4>

			<ul>
			{% blocktrans %}
				<li>Linguistics: Spanish Phonetics and Phonology</li>
				<li>Portuguese language: Portuguese for Spanish Speakers, Intensive Basic and Intensive Intermediate Portuguese</li>
				<li>Spanish language: Beginner, Intermediate and Advanced levels</li>
			{% endblocktrans %}
			</ul>

		<h4 class="indent1">The City College of New York</h4>

			<ul>
			{% blocktrans %}
				<li>Survey of Latin American Literature</li>
				<li>Spanish language: Beginner and Intermediate levels</li>
			{% endblocktrans %}
			</ul>

		<h4 class="indent1">LaGuardia Community College</h4>

			<ul>
			{% blocktrans %}
				<li>Portuguese: Portuguese for Spanish Speakers, Portuguese I</li>
				<li>Spanish: Spanish I</li>
			{% endblocktrans %}
			</ul>


	<h3>{% trans "Publications" %}</h3>

		<ul>
			<li>Riggs, D. &amp; Maimone, L. (2018). A computer-administered C-test in Spanish. In J.M. Norris (Ed.), <em>Developing C-tests for estimating proficiency in foreign language research.</em> Frankfurt am Main, Germany: Peter Lang.</li>

			<li>Soromenho-Marques, V. (Under Review). Chapter 1: The view from Portugual (D. Riggs, Trans.). In P. Vieira (Ed.), <em>Portuguese Literature and the Environment</em>. Toronto, CA: Toronto UP.</li>
			<li>Riggs, D. (2016, June). <em>Praat scripting tutorial</em>. Retrieved from <a href="http://praatscriptingtutorial.com" target="_blank">http://praatscriptingtutorial.com</a></li>
		</ul>

	<h3>{% trans "Presentations" %}</h3>

		<ul>
			<li>Riggs, D. (2013). <em>Pondo as teorias à prova: Um estudo quantitativo da influência fonológica da segunda língua na terceira.</em> Paper presented at the Lusophone Studies Association Inaugural Conference, Toronto.</li>
			<li>Moorman, C. &amp; Riggs, D. (2013). <em>The role of non-linguistic switching, proficiency, and code switching in trilingual switching costs.</em> Paper presented at the Second Language Research Forum, Provo UT.</li>
			<li>Riggs, D. (2013). <em>A influência multidirecional em terceiras línguas.</em> Talk given at the State University of São Paulo (UNESP), Assis SP.</li>
		</ul>

</div>
