{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block mainContent %}

	<article class="contentRoot">

		<p>{% blocktrans %}Hi! I'm Dan Riggs, and am just beginning a job search to go full-time into programming. I've been programming seriously for about five years to enhance my work as a linguist and musician, and also because I actually think it's a lot fun. As of early 2017 I've been back to making a living working in my original field, as a professional musician, but for a little over a decade and up until very recently I was in academia, studying and teaching Spanish, Portuguese, Linguistics and Spanish literature. Check out the sections below for more info if you're interested.
{% endblocktrans %}</p>

		<div class="tab">
			<button class="tabLinks" data-tabid="programming">{% trans "Programming" %}</button>
			<button class="tabLinks" data-tabid="linguistics">{% trans "Linguistics" %}</button>
			<button class="tabLinks" data-tabid="music">{% trans "Music" %}</button>
		</div>

		{% include "index_programming.html" %}

		{% include "index_linguistics.html" %}

		{% include "index_music.html" %}

	</article>

{% endblock mainContent %}

{% block bodyScripts %}
	<script type="text/javascript" src="{% static 'personal_site/tabs.js' %}"></script>
{% endblock bodyScripts %}
