{% load i18n %}
<div id="music" class="tabContent">

	<p>
		{% blocktrans %}
I currently make my living as a freelance musician, playing percussion, accordion, guitar, bass and keyboards in various genres, mostly in musical theater, popular and traditional South American styles, and as a church musician.
		{% endblocktrans %}
	</p>

	<h3>{% trans "Training" %}</h3>
	<p>
		{% blocktrans %}
I grew up in a family of musicians. My father, a percussionist and my mother a violist, met at Eastman School of Music, and forced us to learn piano from a young age, and my siblings and I all participated in choirs and musical theater. I began playing percussion professionally in orchestras and jazz groups in the Detroit area starting at the age of 15. Yay nepotism! (But I <em>was</em> also really good at it, and my parents didn't ever get me a jazz or rock gig &hellip; )
		{% endblocktrans %}
	</p>
	<p>
		{% blocktrans %}
I earned a Bachelor of Music in Percussion at Manhattan School of Music, one of the world's top conservatories, studying with Chris Lamb, principal percussionist of the New York Philharmonic; Duncan Patton, co-chair of timpani of the Metropolitan Opera; and Jim Preiss, renowned New York freelancer. I also had the opportunity to study in St. Louis with Rick Holmes, timpanist of the St. Louis Philharmonic.
		{% endblocktrans %}
	</p>
	<p>
		{% blocktrans %}
I began a Master in Percussion at Boston Conservatory to study with Pat Hollenbeck, Nancy Zeltsman, Sal Rabbio and Keith Aleo, but when on the first day of class the head of the percussion department was fired and several other key faculty quit in protest, after finishing out the semester I decided to move to Guatemala to fulfill a lifelong dream of spending time abroad and learning a new language.
		{% endblocktrans %}
	</p>

	<h3>{% trans "Brazilian and Hispanic Music" %}</h3>
	<p>
		{% blocktrans %}
During the years that followed of studying and teaching Spanish, Portuguese, literature and linguistics, I developed a passion for South American music, especially Brazilian. I found myself learning accordion to play Forró and Vallenato since there are so few accordionists in the area, and have spent years singing and playing percussion, accordion and guitar with Brazilan and Andean groups in the DC area. I currently perform regularly with Rebuliço, a Brazilian party band, and am the band leader of <a href="https://www.facebook.com/LaChichadetuMadre/" target="_blank">La chicha de tu madre</a>, a group that plays a genre of psychodelic cumbia from Peru called Chicha.
		{% endblocktrans %}
	</p>

	<h3>{% trans "Musical theater" %}</h3>
	<p>
		{% blocktrans %}
In addition to playing South American music, I still play plenty of "straight" gigs, mostly musical theater in DC. I've been hired to play at Arena Stage, The Keegan Theatre, GALA, Constellation Theatre, Levine, and others as a percussionist (and occasional bassist).
		{% endblocktrans %}
	</p>
	<h3>{% trans "Spanish and English worship leader" %}</h3>
	<p>
		{% blocktrans %}
In 2017 I was offered a regular staff position as musician for English and Spanish contemporary worhip by the wonderful people at Messiah United Methodist Church in Springfield, VA, where I sing, play guitar and keyboards, and help direct the Youth Band ministry.
		{% endblocktrans %}
	</p>
</div>

