#headline {
	background-color: #63666a;
	min-height: 100px;
	margin: 0;
	padding:0;
	position: relative;
}

#headerH1 {
	display: inline-block;
	margin-top: 20px;
	margin-left: 2%;
	font-weight: 200;
}
#headerH1 a {
	color: white;
	text-decoration: none;
	font-family: Dosis;
}

#navDiv {
	visibility: hidden;
	background-color: black;
	padding-bottom: 8px;
	position: absolute;
	right:0;
	text-align: right;
	top: 100px;	
	z-index:1
}


#menuImage {
	height: 75px;
	padding-right: 10px;
}

/*
#menuButton {
	position: absolute;
	top: 10px;
	right: 0;
	float:right;
	padding-top: 10px;
}
*/


nav a {
	display: block;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 16pt;
	color: yellow;
}

nav > a:visited {
	color: white;
	padding-bottom: 20px;
}

/*
@media (min-width: 343px) and (max-width: 470px) {

	#headerH1 {
		max-width: 300px;
		padding-top: 0px;
	}

}

@media (max-width: 342px) {
	#headerH1 {
		max-width: 100px;
		padding-top: 0px;
	}

	div#navDiv {
		top: 120px;
	}
}
*/

.languageChoice {
	cursor: default;
	text-decoration: underline;
	color: white;
}

.rightBlock {
	padding-right: 3%;
	display: block;
	text-align: right;
	padding-bottom: 8px;
	/*position: absolute; */
	/*bottom: 8px;*/
	/*right: 1%;*/
}

.rightBlock2 {
	text-align: right;
	padding-right: 3%;
}
