* {

	margin: 0;
	font-family: "Titillium Web";
}


h1, h2, h3, h4, button {
	font-family: Dosis;
}


body {
	padding-bottom: 50px;
}

.contentRoot {
	max-width: 600px;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 30px;
}

.contentRoot p {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

.tab {
    overflow: hidden;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
	border-bottom: 5px solid #e6e6e6;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	font-weight: bold;
	font-size: 12pt;
}

.tab button:hover {
    background-color: #e6e6e6;
}

.tab button.active {
	border-bottom: 5px solid #0099ff;
}

.tabContent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;
    border-top: none;*/
}

a {
	color: #0099ff;
}

h3 {
	display: inline-block;
	border-bottom: 5px solid #e6e6e6;
	padding: 14px 16px 14px 5px;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 15px;
}

ul {
	padding-left: 2em;
}

.hanging-no-dot {
	list-style-type: none;
	text-indent: -1em;
}

.indent1 {
	margin: 0px 10px 10px 1em;
}

.indent1 + ul {
	margin-left: 1em;
	margin-bottom: 10px;
}

.dash-lis {
	list-style-type: none;
	padding-left: 1em;
}

.dash-lis > li {
	margin-bottom: 10px;
}

.dash-lis > li:before {
	content: "-  ";
}

#emailRiddle {
	margin-top: 1em;
	list-style-type: none;
}

#emailRiddle > li {
	margin-bottom: 10px;
}
